.main {
  padding: 35px 16px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin-bottom: 32px;
}

.btnBack {
  position: absolute;
  left: -140px;
  top: 46px;
}

.title {
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}

.content {
  position: relative;
  display: flex;
}

.image {
  width: 100%;
  max-width: 320px;
  margin-right: 40px;
  object-fit: contain;
}

.text > p:first-of-type {
  margin-top: 0;
}

.text > p {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.6;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

@media all and (max-width: 1320px) {
  .main {
    padding: 64px 16px;
  }

  .btnBack {
    left: 16px;
    top: 16px;
  }
}

@media all and (max-width: 992px) {
  .content {
    align-items: start;
  }

  .image {
    margin-right: 25px;
  }
}

@media all and (max-width: 660px) {
  .header {
    margin-bottom: 16px;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }

  .image {
    margin-right: 0;
  }

  .text > p {
    margin-top: 15px;
    font-size: 0.9rem;
  }
}
