.list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

.link {
  display: flex;
  align-items: center;
}

.image {
  max-width: 70px;
  margin-right: 25px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}
